<form action="/entries/new">
  <input type="submit" value="Add Entry">
</form>

<h1>Your entries:</h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <form action="/entries/<%= entry.id %>/show">
        <input type="submit" value="<%= entry.title %>">
      </form>
    </li>
  <% end %>
</ul>
